*{margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;}
img{width: 100%; display: block;}
a{color: #1F1F1F;}
.container{max-width: 1400px; margin: 0 auto;}
.container1200 {max-width: 1200px; margin: 0 auto;}
.flex-box{display: flex; flex-wrap: wrap;}
body{font-family:"Roboto", "Noto Sans KR", sans-serif;}
/* 헤더============================================================================================================================ */
header{background-color: #ffffff; width: 100%; position: fixed; left: 0; top: 0; z-index: 100; 
padding: 10px 0; /* box-shadow: 0 0px 10px rgb(152, 152, 152); */}

header .flex-box { align-items: center;}

/* 왼쪽 로고 */
header nav ul.flex-box img {width:65px ;}

/* 오른쪽 메뉴 */
header nav ul.flex-box li {width: 20%;; }
header nav ul.flex-box li a{font-weight: bold; font-size: 24px;}
header nav ul.flex-box li a:hover{border-bottom: solid 5px #ffc72c; color: #ffc72c; padding: 12px 0;}
header  #bt{font-size: 40px; display: none;}

/* 서브메뉴 묶음 */
header .sub-menu-box{display: none;
position: absolute; width: 100%; left: 0; z-index: -1; background-color: #ffffff; box-shadow: 0 2px 2px rgb(152, 152, 152);
/* 헤더 하단에 선언한 라인 봉;더럭 top값 조정할 것 */
top: 70px;}
header .sub-menu-box .flex-box>ul{width: 20%;}
header .sub-menu-box .flex-box{align-items: flex-start; }
header .sub-menu-box .flex-box>ul>li{padding: 10px 0;}
header .sub-menu-box .flex-box>ul>li>a{font-weight: bold;}
header .sub-menu-box .flex-box>ul>li>a:hover{border-bottom: solid 2px #ffc72c; color: #ffc72c;}

/* 햄버거 버튼 관련 토글 클릭  */
#mo-menu-box.showhide{right:0;}
#mo-menu-box{  background-color: #ffffff; width: 100%; height: 100vh; z-index: 9; right:-100%; top:55px;
transition: all 0.5s; position: fixed;}
.menu-sub{display: none;} 
.menu .flex-box{align-items: flex-start;}
.menu .flex-box>div:nth-child(1){width: 35%;}

/* 푸터============================================================================================================================ */
footer{background-color: #292929; padding: 50px 0; margin-top: 280px;}
footer div.flex-box>nav:nth-child(1){width: 20%;}
footer div.flex-box>nav:nth-child(2){width: 40%;}
footer div.flex-box>div:nth-child(3){width: 40%;padding-left: 30px;}
footer div.flex-box>nav ul li{padding: 6px 0;}
footer div .text-white ul li{color: #ffffff;}
footer div .text-gray ul li a{color: #c7c7c7;}
footer img{width: 40px;height: 40px;margin: 10px;}


footer .footer1 img:nth-child(5){width: 100px;height: auto;}

footer  .footer2{margin-top: 20px; flex-wrap: nowrap;font-size: 14px;}
footer  .footer2 span{color: #ffffff;}
footer  .footer2 img{width: 100%; height: 100%; padding: 0;margin: 0;}
footer  .footer2 >div{background-color: #fff;width: 60px; height: 60px;padding: 0;border-radius: 5px; margin-right: 10px;}






@media(max-width: 991px){
header nav ul.flex-box li {width: 50%;; }
header nav ul.flex-box img {width:50px; margin-left: 30px;}
header nav ul.flex-box li:nth-child(2){display: none;}
header nav ul.flex-box li:nth-child(3){display: none;}
header nav ul.flex-box li:nth-child(4){display: none;}
header nav ul.flex-box li:nth-child(5){display: none;}
header  #bt{font-size: 40px; display: inline; text-align: end;}
header .flex-box {justify-content: left;}
header #bt>svg{position: fixed; right:30px; top:20px;}

#mo-menu-box .menu div>h2{border-bottom: solid 1px #1f1f1f; font-size: 35px; padding: 0 20px; padding-top: 15px; padding-bottom: 10px;}
#mo-menu-box .menu div>p{font-weight: bold; font-size: 25px; padding: 5px 20px; display: block;}
.menu h2 span{transition: all 0.5s;
    /* 해당 오브젝트를 오른쪽으로 강제로 붙여주는 속성과 값 */
    float: right;}
.menu h2 span.rotate_bt{transform: rotate(90deg);}    

/* 테블릿 푸터========================================================== */
footer{padding: 50px; margin-top: 200px; position: relative;}
footer div.flex-box>nav:nth-child(1){width: 20%;}
footer div.flex-box>nav:nth-child(2){width: 40%;}
footer div.flex-box>div:nth-child(3){width: 40%;padding-left: 30px;}

footer img{width: 40px;height: 40px;margin: 10px;}


footer .footer1 img:nth-child(5){width: 100px;height: auto; padding-left: 10px;}

footer  .footer2{margin-top: 20px; flex-wrap: nowrap;font-size: 14px;}
footer  .footer2 span{display: none;}
footer  .footer2 img{width: 100%; height: 100%; padding: 0;margin: 0;}
footer  .footer2 >div{background-color: #fff; width: 60px; height: 60px;padding: 0;border-radius: 5px; margin-right: 10px;
position: absolute; z-index: 10px; top: 120px; right: 80px;}

}


@media(max-width: 767px){
header nav ul.flex-box img {width:40px;}
#bt{top: 0;}
#mo-menu-box .menu div>h2{font-size: 25px; padding: 0 20px; padding-top: 15px; padding-bottom: 10px;}
#mo-menu-box .menu div>p{font-size: 20px; padding: 5px 20px;}
header #bt>svg{position: fixed; right:30px; top:15px;}


/* 모바일 푸터========================================================== */
footer{margin-top: 100px; padding: 20px;}
footer .text-gray, .text-white{font-size: 10px;}
footer div.flex-box>nav:nth-child(1){width: 50%;}
footer div.flex-box>nav:nth-child(2){width: 50%;}
footer .footer1{display: none;}
footer .footer2{display: none;}
}